.no-content-card-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.no-content-card-content p {
  color: var(--card-text-dark);
}
