.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(50vh - 200px) auto;
  padding: 20px;
  height: 100%;
  width: 43vh;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  color: var(--dark-text);
  font-weight: bold;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}

.login-wrapper img {
  height: 90px;
}

.login-wrapper .input {
  color: var(--text);
  width: 100%;
  padding: 8px;
  border: 1px;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: 600;
  text-transform: none;
  outline: none;
}

.login-wrapper p {
  font-size: 1.5vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 2vh;
}

.login-wrapper p:hover {
  color: var(--primary-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 1vh;
  gap: 1vh;
  width: 100%;
}

.error-message {
  color: var(--error-color);
  font-size: 0.8rem;
  margin-top: -0.5vh;
  margin-bottom: 0.5vh;
  text-align: left;
}

.btn-submit {
  align-self: auto !important;
}

.submit-button:hover {
  background-color: var(--button-hover);
  box-shadow: 0 5px 15px rgba(46, 204, 113, 0.3);
}



@media (max-width: 768px) {
  .login-wrapper {
    width: 90%;
    max-width: 90%;
  }

}

@media (max-width: 480px) {
  .login-wrapper {
    width: 95%;
    padding: 15px;
  }
}
