.filter-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.filter-button {
  padding: 0.6rem 1.5rem;
  border: 2px solid var(--button-border);
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  color: var(--dark-text);
  transition: all 0.3s;
}

.filter-button:hover {
  border-color: var(--button-hover);
  color: var(--button-hover);
}

.filter-button.active {
  background-color: var(--button-background);
  border-color: var(--button-background);
  color: var(--text-color);
}
