.admin-container {
  max-width: 1200px;
  margin: 0 auto;
}

.admin-container h1 {
  padding-top: 80px;
  text-align: center;
  margin: 3rem 0rem 1.5rem 0rem;
  font-size: 2rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2em;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.no-conection {
  color: var(--error-color);
}

.no-conection p {
  color: var(--card-text-dark);
}

.form-fields {
  display: grid;
}

.form-img {
  display: flex;
  align-items: center;
}

.form-img input {
  margin: 20px 0 0 5px;
}

.img-preview {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 5px;
  border: var(--button-border-light);
  box-shadow: var(--box-shadow);
}

.btn-remove-img {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--error-color);
  font-size: 1em;
  margin: 5px 0 0px 10px;
}

.btn-add-img {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--button-background);
  font-size: 1em;
  font-weight: bold;
  margin: -10px 0 25px 0px;
  transition: 0.3s ease-in-out;
}

.btn-add-img:hover {
  color: var(--button-hover);
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
