.admin-container {
  max-width: 1200px;
  margin: 0 auto;
}

.admin-container h1 {
  padding-top: 80px;
  text-align: center;
  margin: 3rem 0rem 1.5rem 0rem;
  font-size: 2rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2em;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.form-fields {
  display: grid;
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
