.biodiversidade-page .info-section {
  background: linear-gradient(to right, var(--background-light), #dcedc8);
  border-left: 4px solid #dcedc8;
}

.biodiversidade-page .info-section li::before {
  content: "🌱";
}
