.biodiversidade-page .info-section {
  background: linear-gradient(to right, var(--background), var(--bio-info-section));
  border-left: 4px solid var(--bio-info-section);
}

.biodiversidade-page .info-section li::before {
  content: "🌱";
}
